<header (RestartGame)="OnPlayAgain()"></header>
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col d-flex justify-content-center">
            <app-board></app-board>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col d-flex justify-content-center">
            <input-button-tray (AttemptSolve)="OnAttemptSolve($event)"
                               (PlayAgain)="OnPlayAgain()"></input-button-tray>
        </div>
    </div>
</div>
<div class="modal hide fade in" 
     id="GenericDialog" 
     tabindex="-1"
     aria-labelledby="GenericDialogLabel"
     aria-hidden="true"
     data-keyboard="false" 
     data-backdrop="static"
     style="pointer-events: none;">
    <div class="modal-dialog" style="margin-top: 25vh; pointer-events: all;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h5 class="modal-title" id="GenericDialogLabel">{{ DialogTitle }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <ng-template dialogContent></ng-template>
            </div>
        </div>
    </div>
</div>