<div class="container FullTrayWrapper">
    <div class="row justify-content-center">
        <div class="col p-0" 
             *ngFor="let button of ButtonCount">
             <input-button [InputNumber]="button"></input-button>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4 MenuButtonWrapper">
            <button class="btn btn-success MenuButton"
                    (click)="GetCurrentContext() === 'GameOver' ? OnPlayAgain() : OnAttemptSolve()">
                <span class="check"></span>
                <h2 style="margin-top: 2px;"
                    [innerText]="GetCurrentContext() === 'GameOver' ? 'Play again' : 'Solve'"></h2>
            </button>
        </div>
        <div class="col col-md-4 MenuButtonWrapper">
            <button [class]="GetCurrentContext() === 'Input' ? 'btn-secondary MenuButton' : 'btn btn-primary MenuButton'"
                    [disabled]="GetCurrentContext() === 'GameOver'"
                    (click)="OnContextChanged()">
                <h2 style="margin-top: 2px;"
                    [innerText]="GetCurrentContext() === 'Input' ? 'Notes' : 'Fill in'"></h2>
            </button>
        </div>
        <div class="col col-md-4 MenuButtonWrapper">
            <button class="btn btn-danger MenuButton"
                    [disabled]="IsViewingErrors || !CanViewErrors || GetCurrentContext() === 'GameOver'"
                    (click)="OnToggleError()"
                    data-toggle="tooltip"
                    title="Error viewings left: {{ GetErrorViewingsLeft() }}"
                    style="padding: 0px;">
                <progress-pie *ngIf="IsViewingErrors else showErrorLabel"
                              [ViewBoxSize]="ErrorProgressViewBoxSize"
                              [Radius]="ErrorProgressRadius"
                              Color="white"
                              [Progress]="ErrorTimerProgress">
                </progress-pie>
                <ng-template #showErrorLabel>
                    <p class="ErrorViewingsCount">{{ GetErrorViewingsLeft() }}</p>
                    <h2 style="margin-top: 2px;">Show Errors</h2>
                </ng-template>
            </button>
        </div>
    </div>
</div>
