.BoardContainer
{
    display: grid;
    background-color: darkgray;
    grid-template-columns: 224px 224px 224px;
    grid-template-rows: 224px 224px 224px;
    width: 690;
    height: 690;
    padding: 5px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 375px)
{
    .BoardContainer
    {
        grid-template-columns: 120px 120px 120px;
        grid-template-rows: 120px 120px 120px;
        width: 365px;
        height: 365px;
        padding: 2px;
        margin-top: 3px;
    }
}

@media screen and (max-width: 463px)
{
    .BoardContainer
    {
        grid-template-columns: 130px 130px 130px;
        grid-template-rows: 130px 130px 130px;
        width: 400px;
        height: 400px;
        padding: 1px;
        margin-top: 3px;
    }
}