.CellContainer
{
    width: 70px;
    height: 70px;
    display: flex;
}

.NotesContainer
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

.NotesContainer > div
{
    text-align: center;
}

.DisplayValueContainer
{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 30% 40% 30%;
}

.DisplayValue
{
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}

.Note
{
    margin-top: 2px;
    color: darkgray;
}

@media screen and (max-width: 375px)
{
    .CellContainer
    {
        width: 37px;
        height: 37px;
        display: flex;
    }

    .Note
    {
        margin-top: 0px;
        font-size: 10px;
    }

    .NotesContainer
    {
        display: grid;
        grid-template-columns: 12px 12px 12px;
        grid-template-rows: 12px 12px 12px;
    }

    .DisplayValueContainer
    {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 10% 80% 10%;
    }
}

@media screen and (max-width: 463px)
{
    .CellContainer
    {
        width: 40px;
        height: 40px;
        display: flex;
    }

    .Note
    {
        margin-top: 0px;
        font-size: 10px;
    }

    .NotesContainer
    {
        display: grid;
        grid-template-columns: 14px 14px 14px;
        grid-template-rows: 14px 14px 14px;
    }

    .DisplayValueContainer
    {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 10% 80% 10%;
    }
}